{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">   
<main>
        <div class="mb-4">
            <form method="POST">
                {% csrf_token %}
            <h5 class="page-heading">Add Visit</h5>
        </div>
        
        <div class="auto-scroll">
            <div class="bg-white rounded-2 p-3 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">UHID</label>
                            <input type="text"  value={{patient.uhid}} class="form-control" readonly    >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-flex gap-3">
                            <div class="w-50">
                                <label class="form-label">Title</label>
                                <input type="text"  value={{patient.title}} class="form-control"  readonly   >
                            </div>
                            <div class="w-50">
                                <label class="form-label">Gender</label>
                                <input type="text"  value={{patient.gender}} class="form-control" readonly    >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Patient Name</label>
                            <input type="text"  value={{patient.patient_name}} class="form-control"  readonly   >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-flex gap-3">
                            <div class="w-75">
                                <label class="form-label">DOB</label>
                                <input type="text"  value={{patient.dob}} class="form-control"   readonly  >
                            </div>
                            <div class="w-25">
                                <label class="form-label">Age</label>
                                <input type="text"  value={{patient.age}} class="form-control"  readonly   >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Email ID</label>
                            <input type="text"  value={{patient.email_id}} class="form-control" readonly    >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Contact Number</label>
                            <input type="text"  value={{patient.contact_number}} class="form-control"   readonly  >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Patient History</label>
                            <input type="text"  value={{patient.patient_history}} class="form-control" readonly    >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Status</label>
                            <input type="text"  value={{patient.status}} class="form-control"  readonly   >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Patient Category </label>
                            <select class="form-select" name = "patient_category" required>
                                {% for patientcategory in patientscategory %}
                            <option >{{ patientcategory.category }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Ref Dr</label>
                            <select class="form-select" name = "ref_dr">
                                {% for refdr in refdrs %}
                            <option >{{ refdr.DoctorName }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Select Test</label>
                        <select class="form-select" name = "selected_test" required>
                            {% for selectedtest in select_test %}
                        <option >{{ selectedtest.name }}</option>
                       {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-data ">
                        <thead>
                          <tr>
                            <th>Test Code </th>
                            <th>Test Name</th>
                            <th class="text-end">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                    
                            <td class="text-end">
                                
                                <div class="d-flex gap-2 justify-content-end">
                                    <button type="button" class="table-btn">
                                        <svg class="gender-icon">
                                            <use xlink:href="static/images/bootstrap-icons.svg#x-lg"></use>
                                        </svg>
                                    </button>
                               
                                </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="py-4 text-center">
                    <button type="submit" class="theme-btn mx-auto">Submit</button>
                
                </div>
            </div>
          
        </form>
    
        </div>
        
    </main>


</html>

{% endblock %}