{% extends "base.html" %}
{% block content %}
  <main>
    <div class="mb-4 d-flex gap-3 align-items-center pe-3">
        <h5 class="page-heading">Patient Master</h5>
        <div class="ms-auto">
          <div class="d-flex gap-3">
            <a href = "{% url 'patient-registration' %}">
            <button type="submit" class="theme-btn-outline" >
              <svg>
                  <use xlink:href="static/images/iocn.svg#add"></use><a href ="{% url 'patient-registration' %}">
              </svg>
              <span>Add New Patient</span>
          </button>
        </a>
      </div>
        </div>
      </div>
      <form method="POST" action="{% url 'registrationsummary' %}">
        {% csrf_token %}
    <div class="auto-scroll">
          <div class="bg-white rounded-2 p-3 mb-4">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">From Date</label>
                  <input type="date" class="form-control" id="from-date" name="from_date">
                </div>
                <div class="col-md-3">
                  <label class="form-label">To Date</label>
                  <input type="date" class="form-control" id="to-date" name="to_date">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Patient Name</label>
                  <input type="text" class="form-control" name="patient_name">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Mobile</label>
                  <input type="text" class="form-control" name="contact_number">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Status</label>
                  <select class="form-select" name="status">
                    <option value="Active" selected>Active</option>
                    <option value="Inactive">Inactive</option>
                  </select>
                </div>

                <div class="col-md-3">
                  <button type="search" class="theme-btn btn-h">
                    <svg>
                      <use xlink:href="static/images/iocn.svg#search"></use>
                    </svg>
                    <span>Search</span>
                  </button>
                </div>
              </form>
              </div>
          </div>
          <div class="bg-white rounded-2 p-3">
              <div class="table-responsive">
                  <table class="table table-data ">
                      <thead>
                        <tr>
                          <th>Date / UHID</th>
                          <th>Patient Details</th>
                          <th>Email ID</th>
                          <th>Mobile</th>
                          <th>Status</th>
                          <th class="text-end">Actions</th>
                        
                      <tbody>
                        <tr>
                          {% for Patient in patients %}
                          <td class="text-nowrap">
                            <span>{{Patient.date}}</span><br><span>{{Patient.uhid }}</span>
                          </td>
                          <td>
                            <div>
                              <div class="text-d-blue fw-semibold">{{Patient.patient_name}}</div>
                              <div>
                                <span>{{Patient.age}}</span>
                                <svg class="gender-male">
                                  <use xlink:href="assets/images/iocn.svg#gender-male"></use>
                              </svg>
                              </div>
                          </div>
                          </td>
                          <td>{{Patient.email_id}}</td>
                          <td>{{Patient.contact_number}}</td>
                          <td>
                              <div class="sts-green">{{Patient.status}}</div>
                          </td>
                          <td class="text-end">
                            <div class="d-flex gap-2 justify-content-end">
                                
                              <a href="{% url 'addvisit' Patient.id %}">
                              <button type="button" class="table-btn" >
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20.9844 10H17M20.9844 10V6M20.9844 10L17.6569 6.34315C14.5327 3.21895 9.46734 3.21895 6.34315 6.34315C3.21895 9.46734 3.21895 14.5327 6.34315 17.6569C9.46734 20.781 14.5327 20.781 17.6569 17.6569C18.4407 16.873 19.0279 15.9669 19.4184 15M12 9V13L15 14.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                </button>
                              </a>
                                  <button type="button" class="table-btn">
                                    <a href="{% url 'deleteregistersummary' Patient.id %}" > 
                                      <<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                              
                                      
                                    </a>
                                </button>
                            </div>
                        </td>
                        </tr>
                      </thead>
                          {% endfor %}
                          
                    </form>
                        </tr>
                      </tbody>  
                    </table>
              </div>
          </div>
    </div>

  </main>
</body>

</html>
{% endblock %}

