{% extends 'base.html' %}
{% block head %}
    
{% endblock %}
{% block content %}
  <main>
    <form method="post">
      {% csrf_token %}

    <div class="mb-4">
      <h5 class="page-heading">Register Device</h5>
    </div>
    <div class="auto-scroll">
      <div class="bg-white rounded-2 p-3">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Device ID</label>
              <input type="text" name= "device_id" class="form-control" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Client Name</label>
              <input type="text" name = "client_name" class="form-control" required>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">Address</label>
              <textarea class="form-control" name="address" rows="2" required></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">PIN Code</label>
              <input type="text" name="pin_code" class="form-control" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Mobile No</label>
              <input type="text" name= "mobile_number" class="form-control" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Email ID</label>
              <input type="email" name="email" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="py-4 text-center">
          <button type="submit" class="theme-btn mx-auto">Submit</button>
        </div>
      </div>
    </div>
  </form>
  </main>
</body>

</html>
{% endblock %}