{% extends 'base.html' %}
{% block content %}
  <main>
    <form method="POST" action="{% url 'visitsummary' %}">
      {% csrf_token %}
    <div class="mb-4 d-flex gap-3 align-items-center pe-3">
        <h5 class="page-heading">Visit Summary</h5>
        <div class="ms-auto">
          <div class="d-flex gap-3">
            <a href = "{% url 'patient-registration' %}">
            <button type="button" class="theme-btn-outline">
              <svg>
                  <use xlink:href="assets/images/iocn.svg#add"></use>
              </svg>
              <span>Add New Patient</span>
          </button>
        </a>
          </div>
        </div>
      </div>
    <div class="auto-scroll">
          <div class="bg-white rounded-2 p-3 mb-4">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">From Date</label>
                  <input type="date"  name = "from_date" class="form-control ">
                </div>
                <div class="col-md-3">
                  <label class="form-label">To Date</label>
                  <input type="date" name = "to_date" class="form-control ">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Pt.Name / Visit ID / Pt.ID</label>
                  <input type="text" name = "visit_id" class="form-control">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Status</label>
                  <select class="form-select">
                    <option value="1" selected>Registered</option>
                    <option value="2">Scanned</option>
                    <option value="3">Transferred</option>
                    <option value="4">Reported</option>
                    <option value="5">Cancelled</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <button type="search" class="theme-btn btn-h">
                      <svg>
                          <use xlink:href="assets/images/iocn.svg#search"></use>
                      </svg>
                      <span>Search</span>
                  </button>
                </div>
              </div>
          </div>
        </form>
          <div class="bg-white rounded-2 p-3">
              <div class="table-responsive">
                  <table class="table table-data ">
                      <thead>
                        <tr>
                          <th>Date / Visit ID</th>
                          <th>Patient Details</th>
                          <th>Ref By / Test’s Asked</th>
                          <th>Status</th>
                          <th class="text-end">Actions</th>
                        </tr>
                      </thead>
                      {% for visits in visits %}
                      <tbody>
                        <tr>
                         
                          <td class="text-nowrap"><span>{{visits.date}}</span><br><span>{{visits.visit_id}}</span></td>
                          <td>
                            <div>
                              <div class="text-d-blue fw-semibold">{{visits.patient.patient_name}}</div>
                              <div>
                                <span>63</span>
                                <svg class="gender-male">
                                  <use xlink:href="assets/images/iocn.svg#gender-male"></use>
                              </svg>
                              </div>
                          </div>
                          </td>
                          <td><span>{{visits.ref_dr}}</span><br><span>{{visits.selected_test}}</span></td>
                          
                          <td>
                              <div class="sts-blue">Completed</div>
                          </td>
                          
                          <td class="text-end">
                              <div class="d-flex gap-3 justify-content-end">
                                  <button type="button" class="table-btn">
                                      <svg class="gender-icon">
                                          <use xlink:href="assets/images/iocn.svg#edit"></use>
                                      </svg>
                                  </button>
                                  <button type="button" class="table-btn">
                                      <svg class="gender-icon">
                                          <use xlink:href="assets/images/iocn.svg#scan"></use>
                                      </svg>
                                  </button>
                                  <button type="button" class="table-btn">
                                      <svg class="gender-icon">
                                          <use xlink:href="assets/images/iocn.svg#view"></use>
                                      </svg>
                                  </button>
                                  <button type="button" class="table-btn">
                                      <svg class="gender-icon">
                                          <use xlink:href="assets/images/iocn.svg#cloud-upload"></use>
                                      </svg>
                                  </button> 
                                   
                              </div>
                          </td>
                        
                        </tr>

                      </tbody>
                      {% endfor %}
                    </table>
              </div>
          </div>
    </div>
   
  </main>
</body>

</html>
{% endblock %}