<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Telepathology</title>
  <!-- Core theme CSS-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="container-fluid px-4">
      <div class="d-flex pt-1 align-items-center">
        <div>
          <img src="assets/images/app-logo.svg" class="app-logo">
        </div>
        <div class="ms-auto">
          <ul class="nav menu-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg>
                  <use xlink:href="assets/images/iocn.svg#person"></use>
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg>
                  <use xlink:href="assets/images/iocn.svg#setting"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="mb-4">
      <h5 class="page-heading">Register Device</h5>
    </div>
    <div class="auto-scroll">
      <div class="bg-white rounded-2 p-3">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Device ID</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Client Code</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Client Name</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">Address</label>
              <textarea class="form-control" rows="2"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">PIN Code</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Mobile No</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Email ID</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="py-4 text-center">
          <button type="button" class="theme-btn mx-auto">Submit</button>
        </div>
      </div>
    </div>

  </main>
</body>

</html>