<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Telepathology</title>
  <!-- Core theme CSS-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="container-fluid px-4">
      <div class="d-flex pt-1 align-items-center">
        <div>
          <img src="assets/images/app-logo.svg" class="app-logo">
        </div>
        <div class="ms-auto">
          <ul class="nav menu-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <svg>
                  <use xlink:href="assets/images/iocn.svg#person"></use>
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg>
                  <use xlink:href="assets/images/iocn.svg#setting"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="mb-4 d-flex gap-3 align-items-center pe-3">
        <h5 class="page-heading">Patient Master</h5>
        <div class="ms-auto">
          <div class="d-flex gap-3">
            <button type="button" class="theme-btn-outline">
              <svg>
                  <use xlink:href="assets/images/iocn.svg#add"></use>
              </svg>
              <span>Add New Patient</span>
          </button>
            <button type="button" class="theme-btn-outline">
              <svg>
                  <use xlink:href="assets/images/iocn.svg#add"></use>
              </svg>
              <span>Add Visit</span>
          </button>
          </div>
        </div>
      </div>
    <div class="auto-scroll">
          <div class="bg-white rounded-2 p-3 mb-4">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">For The Date</label>
                  <input type="text" class="form-control form-calendar">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Patient Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Status</label>
                  <select class="form-select">
                    <option value="1" selected>Active</option>
                    <option value="2">Inactive</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <button type="button" class="theme-btn btn-h">
                      <svg>
                          <use xlink:href="assets/images/iocn.svg#search"></use>
                      </svg>
                      <span>Search</span>
                  </button>
                </div>
              </div>
          </div>
          <div class="bg-white rounded-2 p-3">
              <div class="table-responsive">
                  <table class="table table-data ">
                      <thead>
                        <tr>
                          <th>Date / UHID</th>
                          <th>Patient Details</th>
                          <th>Email ID</th>
                          <th>Contact Number</th>
                          <th>Status</th>
                          <th class="text-end">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-nowrap">
                            <span>16 Nov 2022</span><br><span>000234</span>
                          </td>
                          <td>
                            <div>
                              <div class="text-d-blue fw-semibold">Kapil Nikhil Dev</div>
                              <div>
                                <span>63</span>
                                <svg class="gender-male">
                                  <use xlink:href="assets/images/iocn.svg#gender-male"></use>
                              </svg>
                              </div>
                          </div>
                          </td>
                          <td>Baldwa@gmail.com</td>
                          <td>877658987</td>
                          <td>
                              <div class="sts-green">Active</div>
                          </td>
                          <td class="text-end">
                              <div class="d-flex gap-2 justify-content-end">
                                  <button type="button" class="table-btn">
                                      <svg class="gender-icon">
                                          <use xlink:href="assets/images/iocn.svg#edit"></use>
                                      </svg>
                                  </button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
    </div>

  </main>
</body>

</html>