<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Telepathology</title>
  <!-- Core theme CSS-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="container-fluid px-4">
      <div class="d-flex pt-1 align-items-center">
        <div>
          <img src="assets/images/app-logo.svg" class="app-logo">
        </div>
        <div class="ms-auto">
          <ul class="nav menu-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <svg>
                  <use xlink:href="assets/images/iocn.svg#person"></use>
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg>
                  <use xlink:href="assets/images/iocn.svg#setting"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="mb-4">
        <h5 class="page-heading">Tests Master</h5>
      </div>
    <div class="auto-scroll">
          <div class="bg-white rounded-2 p-3 mb-4">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">Test Name / Code</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Department</label>
                  <select class="form-select">
                  </select>
                </div>
                <div class="col-md-3">
                  <button type="button" class="theme-btn btn-h">
                      <svg>
                          <use xlink:href="assets/images/iocn.svg#search"></use>
                      </svg>
                      <span>Search</span>
                  </button>
                </div>
              </div>
          </div>
          <div class="bg-white rounded-2 p-3">
              <div class="table-responsive">
                  <table class="table table-data ">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Test Name </th>
                          <th>Specimen Type</th>
                          <th>Department</th>
                          <th>Report Format</th>
                          <th class="text-end">Reporting Rate</th>
                          <th class="text-end">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-nowrap">16 Nov 2022</td>
                          <td class="text-d-blue fw-semibold">PAP SMEAR</td>
                          <td>PLAIN</td>
                          <td>MICROBIOLOGY</td>
                          <td>SPECIALREPORTS</td>
                          <td class="text-end">7500.00</td>
                          <td class="text-end">
                              <div class="d-flex gap-2 justify-content-end">
                                  <button type="button" class="table-btn">
                                      <svg class="gender-icon">
                                          <use xlink:href="assets/images/iocn.svg#view"></use>
                                      </svg>
                                  </button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
    </div>

  </main>
</body>

</html>